[database]
host     = "{{ omeka_classic_db_host }}"
username = "{{ omeka_classic_db_user }}"
password = "{{ omeka_classic_db_password }}"
dbname   = "{{ omeka_classic_db_name }}"
prefix   = "omeka_"
charset  = "utf8"
;port     = ""
